*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.header {
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}

.wrapper {
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.initials {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.int-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.initials i{
    height: 45px;
    width:45px;
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    
}

.initials .int-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
}

nav .openNav {
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .openNav span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property:  transform, opacity;

}

nav .navOptions{
    list-style-type: none;
}

nav .navOptions li{
    display: inline-block;
}

nav .navOptions li a{
    color:#e5e5e5;
    margin-right: 2.5rem;
}

.picContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.picContainer .photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.photo img {
    height: 100%;
    width:  100%;
    transition: 0.5s;
}

.photo img:hover{
    transform: scale(1.2);
}

.about-me{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.about-me h5{
    color:#e5e5e5;
    font-size: 14px;
}

.about-me h5 span{
    color:#007ced;
    font-size: 16px;
}

.about-me h1{
    color: #007ced;
    font-size: 3rem;
}

.about-me p{
    color:#e5e5e5;
}

.interact{
    margin:45px 0;
}
.interact .button{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%);
}

.button .on{
    border-color: #007ced;
}

.about-me .contact-me i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.about-me .contact-me i:hover{
    color:#007ced;
    transform: rotate(360deg);
}

@media(max-width:930px)
{
    nav .navOptions{
        display: initial;
    }
    /* for toggle button**/
    .push {
        top:45px;
    }
    .push span{
        position: absolute;
        margin-top:12px
    }
    .push span:first-child{
        transform: rotate(-40deg);
    }
    .push span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .push span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navOptions{
        position: absolute;
        top:110px;
        right:-100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navOptions li{
        display: block;
    }
    nav .navOptions li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navOptions .open{
        right:0;
    }
}
@media(max-width:768px)
{
    .picContainer{
        flex-direction: column;
        padding-top:2rem
    }
    .about-me{
        padding:40px 0px;
    }
}