/* Basic reset to remove default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbars */
    background: transparent;
}

#plasma-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Ensure it stays behind other content */
}

nav {
    background: rgba(51, 51, 51, 0.8);
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    transition: transform 0.3s ease;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    position: relative;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: none;
    font-weight: bold;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: none; /* Remove background as plasma-bg is now the background */
    color: white;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    margin-bottom: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.intro h1, .intro h2, .intro p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body, .intro h1, .intro h2, .intro p {
    color: #333;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}